# Site wide configuration

title:            fifty-two
locale:           en_US
#url:              http://localhost:4000
url:              http://gokhant.github.io


# Jekyll configuration

#permalink:   /:categories/:title/
markdown:    kramdown
highlighter: rouge
sass:
  sass_dir: _sass
  style: compressed
gems:
  - jekyll-sitemap
  - jekyll-gist

kramdown:
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  enable_coderay: false
  syntax_highlighter_opts:
    span:
      line_numbers: true
    block:
      line_numbers: false
      start_line: 1

# Octopress

# Default extensions
post_ext: md
page_ext: md

# Found in _templates/
post_layout: post
page_layout: page

# Format titles with titlecase?
titlecase: true


# Site owner
owner:
  name: Gokhan Tuna
  avatar: bio-photo.jpg
  bio: "Telecom professional with more than 15 years of experience on charging, billing and location based solutions who likes to read and spend time with his Sunshine."
  email: gokhant@gmail.com
  disqus-shortname:
  twitter: gokhantuna
  facebook: gokhant
  google:
    plus: #username
    analytics:
    verify:
    ad-client:
    ad-slot:
  bing-verify:
  github: gokhant
  stackoverflow: "48479/gokhant"
  linkedin: gokhantuna
  xing: #username
  instagram: #username
  lastfm: #username
  tumblr: #username
  pinterest: #username
  foursquare: #username
  steam: #username
  dribbble: #username
  youtube: #username
  soundcloud: #username
  weibo: #username
  flickr: #username
  codepen: #username

include: [".htaccess"]
exclude: ["lib", "config.rb", "Capfile", "config", "log", "Rakefile", "Rakefile.rb", "tmp", "less", "*.sublime-project", "*.sublime-workspace", "test", "spec", "Gruntfile.js", "package.json", "node_modules", "Gemfile", "Gemfile.lock", "LICENSE", "README.md"]
